# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/airheap/Debug/CL.read.1.tlog
/airheap/Debug/CL.write.1.tlog
/airheap/Debug/airheap.Build.CppClean.log
/airheap/Debug/airheap.lastbuildstate
/airheap/Debug/airheap.log
/airheap/Debug/airheap.unsuccessfulbuild
/airheap/Debug/cl.command.1.tlog
/airheap/Debug/vc110.idb
/airheap/Debug/vc110.pdb
/airheap/airheap.sdf
/airheap/airheap.v11.suo
/airheap/airheap.vcxproj.filters

/airheap/ipch/muskit-889839e8/*.ipch
